* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    background-color: #121212;
    font-family: 'Inter';
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    margin: 15px 5px -15px 10px;
}

header a{
    text-decoration: none;
    color: #ffffff;
}

.CakeMovieLogo{
    display: flex;
    flex-direction: row;
}

.CakeMovieLogo h2{
    position: relative;
    top: 40px;
}

.header_list{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 41px;
}

.header_list a{
    margin: 0 25px 0 25px;
}

.login{
    display: flex;
    position: absolute;
    right: 20px;
    top: 45px;
    color: #121212;
    background-color: #d9d9d9;
    border-radius: 11px;
    padding: 6px 20px 6px 20px;
}

footer{
    background-color: #424040;
    margin-top: 35px;
    position: relative;
    bottom: -287px;
}

footer h3{
    margin: 200px 5px 0 15px;
}

.group_item{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:140px;
    margin-bottom:100px;
}

.group_item h4{
    margin: -10px 0 100px 0;
    background-color: #383737;
    color:#888181
}

.log{
    position: absolute;
    right: -90px;
}

.pas{
    position: absolute;
    top: 90px;
    right: -90px;
}

.but{
    background-color: white;
    position: relative;
    bottom: -230px;
    left: 650px;
    border-radius: 100px;
    width: 50px;
}